body{
	background: url('333.gif') no-repeat /*no-repeat fixed*/;
	background-size: cover;
	font-family: Arial;
	
}
ul li{
	list-style-type: none;
}

ul li a:hover{
	background-color: white;
}
#navbarDropdown{
	background-color: black;
}
#navbarDropdown:hover{
	background-color: green;
	opacity: .8;
}